@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Minecraft';
  src: url('/fonts/Minecraft.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Minecraft';
  src: url('/fonts/Minecraft-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'FusionPixel';
  src: url('/fonts/FusionPixel-zh_hans.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Minecraft', 'FusionPixel', sans-serif;
  margin: 0;
  padding: 0;
}
